.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}
