.material-product-card {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    margin: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all ease 0.1s;
    outline: 0px solid #a0c3e5;
    box-shadow: 0px 0px 10px -4px black;
    width: 70%;
    margin: 100px auto;
    flex-wrap: wrap;
}

.material-product-card:hover {
    outline: 2px solid #a0c3e5;
    box-shadow: 0px 0px 25px -8px black;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f7f5f6;
}

.card-content h1 {
    margin: 0;
    color: #4285f4;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
}
.card-content ul {
    list-style-type: none;
    font-size: 1.2rem;
}
.card-content ul li {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.price-of-product {
    font-size: 1.3rem;
    font-weight: 600;
    align-self: flex-end;
    margin: 0;
    display: flex;
    align-items: center;
}

.currency {
    font-size: 1.7rem;
    margin-left: 5px;
}

.buy-button {
    width: 150px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4285f4;
    color: white;
    box-shadow: 0px 5px 20px -10px black;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.buy-button:hover {
}

.value-of-product {
    font-size: 24px;
}

.item-page-title {
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 100px;
    font-size: 35px;
    text-align: center;
}

@media screen and (max-width: 940px) {
    .material-product-card {
        max-width: 400px;
        min-width: 320px;
    }
}
