.material-product-card {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 330px;
    position: relative;
    cursor: pointer;
    padding: 15px 25px;
    margin: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all ease 0.1s;
    outline: 0px solid #a0c3e5;
    box-shadow: 0px 0px 10px -4px black;
}

.material-product-card:hover {
    outline: 2px solid #a0c3e5;
    box-shadow: 0px 0px 25px -8px black;
}

.img-of-car {
    width: 50%;
    height: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #f7f5f6;
}

.card-content h1 {
    margin: 0;
    color: #002940;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
}
.card-content ul {
    list-style-type: none;
    font-size: 1.2rem;
}
.card-content ul li {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
}

.price-of-product {
    font-size: 1.3rem;
    font-weight: 600;
    align-self: flex-end;
    margin: 0;
    display: flex;
    align-items: center;
}

.currency {
    font-size: 1.7rem;
    margin-left: 5px;
}

.buy-button {
    background-color: #002940;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 35px;
    width: 150px;
    height: 40px;
    align-self: flex-end;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
}

.buy-button:hover {
}

.value-of-product {
    font-size: 24px;
}
@media screen and (max-width: 550px) {
    .material-product-card {
        flex-direction: column;
    }

    .img-of-car img {
        width: 100%;
    }
}
