.education-title {
    font-size: 32px;
    margin-top: 100px;
    text-align: center;
    color: #11b57c;
}

.timeline {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
}

.timeline::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    margin-left: -2px;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px -1px black;
    background-color: #fff;
}

.container {
    width: 46%;
    height: 170px;
    background-color: #fff;
    box-shadow: 0px 0px 15px -10px black;
}

.container.right {
    margin-left: 53.8%;
    margin-top: 20px;
}

.container.left {
    margin-bottom: -140px;
}

.container.top1,
.container.top2 {
    margin-top: -20px;
}

.container.right::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    margin-top: -58px;
    margin-left: -18px;
    border-right: 18px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.container.left::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 46%;
    margin-top: -58px;
    border-left: 18px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.container::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    margin-top: 35px;
    background-color: #11b57c;
    border-radius: 50%;
}

.container h2 {
    font-size: 22px;
    margin-left: 30px;
    padding-top: 30px;
    color: #11b57c;
}

.container .label {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 10px;
}

.container .label::after {
    content: "";
    position: absolute;
    margin-top: 40px;
    width: 100px;
    height: 35px;
    left: 0px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    background-color: #11b57c;
    box-shadow: 0px 0px 15px -7px black;
}

.container .label1::after {
    content: "2005-2007";
}

.container .label2::after {
    content: "2007-2009";
}

.container .label3::after {
    content: "2009-2011";
}

.container .label4::after {
    content: "2011-2013";
}

.container .label5::after {
    content: "2015-2017";
}

.container .label6::after {
    content: "2017-2019";
}

.container .label::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: 88px;
    margin-top: 28px;
    border-left: 12px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 12px solid #11b57c;
}
