
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
.main-footer ul {
    list-style: none;
    padding-left: 0;
}
.main-footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
.main-footer a {
    text-decoration: none;
    color: #eee;
}

.main-footer a:hover {
    text-decoration: underline;
}

.ft-main {
    display: flex;
    flex-wrap: wrap;
}

.main-footer form {
    display: flex;
    flex-wrap: wrap;
}
.main-footer input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
.main-footer input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.social {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
}

.legal {
    padding: 5px;
    background-color: #333;
    display: flex;
    justify-content: center;
}

