/*
    
    - Fonts
    - Header
    - Hero
    - Responsive CSS

*/
/*  Fonts  */
@font-face {
    font-family: "lato-bold";
    src: url("../fonts/lato-bold.eot");
    src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato-bold.woff") format("woff"),
        url("../fonts/lato-bold.ttf") format("truetype"),
        url("../fonts/lato-bold.svg#LatoBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular";
    src: url("../fonts/lato-regular.eot");
    src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lato-regular.woff") format("woff"),
        url("../fonts/lato-regular.ttf") format("truetype"),
        url("../fonts/lato-regular.svg#LatRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "p22_corinthia";
    src: url("../fonts/p22_corinthia.eot");
    src: url("../fonts/p22_corinthia.eot?#iefix") format("embedded-opentype"),
        url("../fonts/p22_corinthia.woff") format("woff"),
        url("../fonts/p22_corinthia.ttf") format("truetype"),
        url("../fonts/p22_corinthia.svg#P22Corinthia") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*  General CSS  */

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}
h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}
h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
}
h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*  Header Section  */

header {
    width: 100%;
    height: 100px;
    background: rgba(28, 54, 85, 0.2);
    padding: 0 10px;
}

header .logo {
    color: #fff;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 25px;
    float: left;
}

header a.hamburger {
    text-decoration: none;
    display: none;
    float: right;
    margin-top: 41px;
    width: 24px;
    height: 19px;
    background: url("../img/hamburger_icon.png") no-repeat;
}

header a.hamburger.opned {
    width: 19px;
    background: url("../img/close_menu_icon.png") no-repeat;
}

header nav {
    float: right;
    opacity: 1;
}

header nav ul {
    margin-top: 40px;
    list-style: none;
    overflow: hidden;
    float: left;
}

header nav ul li {
    float: left;
    margin-left: 50px;
}

header nav ul li a,
header nav .login_btn {
    text-decoration: none;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.navig ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.navig ul li:hover > ul,
.navig ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    position: absolute;
}

.navig ul li ul li {
    width: 100%;
}

header nav .login_btn {
    float: right;
    margin: 30px 0 0 50px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #ffffff;
    background: transparent;

    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
}

header nav .login_btn:hover {
    background: #ffffff;
    color: #1c3655;
}

/*  Hero Section  */

.hero {
    width: 100%;
    height: 900px;
    position: relative;
    background: url("../img/hero.jpg") no-repeat bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero .caption {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
}

.hero .caption h2 {
    color: #fff;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.hero .caption h3 {
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}

.drop-down-menu, .show-drop-menu-item {
    display: none;
}

/*  responsive css */

@media (max-width: 1500px) {
    .hero {
        height: 800px;
    }
}

@media (max-width: 1150px) {
    .wrapper {
        padding: 0 0px;
        max-width: 1020px;
    }
}

@media (max-width: 800px) {
    .hero {
        height: 600px;
    }

    .hero .caption {
        padding: 0 3.636363636363636%;
    }

    .hero .caption h3 {
        margin: 0;
        left: 0;
    }

    header a.hamburger {
        display: block;
    }

    header nav {
        position: absolute;
        display: none;
        width: 92.72727272727273%;
        top: 95px;
        left: 3.636363636363636%;
        float: none;
        z-index: 20;
        overflow: hidden;
        background: #fff;
        border-top: 5px solid #bfd9f2;
    }

    header nav.active {
        display: block;
    }

    header nav .login_btn {
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        background: #f2f3f3;
    }

    header nav ul {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li {
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }

    header nav ul li a {
        display: block;
        padding: 25px 0;
        border-bottom: 1px solid #f2f3f3;

        transition: background 0.2s linear;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
    }

    header nav ul li a:active {
        background: #f2f3f3;
    }

    header nav ul li a,
    header nav .login_btn {
        color: #1c3655;
    }

    header nav .login_btn:hover {
        background: #eaebeb;
    }

    header nav ul li:last-child {
        border: 0;
    }

    .active .drop-down-button {
        color: #1c3655;
    }

    .hide-item {
        display: none;
    }

    .drop-down-menu {
        display: block;
    }

    .show-drop-menu-item {
        display: block;
    }
}

@media (max-width: 500px) {
    .hero .caption h2 {
        font-size: 85px;
    }

    .hero .caption h3 {
        font-size: 16px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.home-type {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    color: #000;
    background: none;
    font-size: 25px;
}

.is-active {
    transition: all ease 0.2s;
    font-weight: bold;
    font-size: 1.1em;
}

.is-active.login_btn {
    background: #ffffff;
    color: #1c3655;
}

.items input,
.items textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #e9eff6;
    line-height: 40px;
    border-width: 0;
    border-radius: 2px;
}
.items input[type="submit"] {
    margin-top: 30px;
    background-color: #159262;
    width: 20%;
    color: white;
    font-size: 14px;
}

.items input[type="submit"]:hover {
    cursor: pointer;
}

.items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.items .item {
    width: 50%;
}

.items .item:nth-of-type(2) {
    margin-left: 10px;
}

/* header */
.drop-down-button {
    border: none;
    background: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.drop-down-button::after {
    content: " ↓";
}

.drop-down-list {
    display: flex;
    flex-direction: column;
}
